body {
    background-color: black;
    color: white;
}

.primary-header {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display:flex;
    list-style-type:none;
}

.social-link {
    display: flex;
    list-style-type: none;
    margin:0px; 
    }

.social-link-item a {
    padding: 20px;    
    color: white;
}

.main-nav-link a {
    color: white;
    padding:10px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;;
}

.secondary-header {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/programmer-screen-1.jpg");
    background-size: cover;
    background-position: center;
}

/* About me section */
.about-me{
    height:380px;
    width: 90%;
    margin:0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EBEBEB;
    color: black;
}

#about-photo img{
    height:50%;
    border-radius: 50%;
    margin-left: 60px;
    margin-right: 0;
}

#about-text {
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.about-me h2 {
    font-size: 36px;
    margin-bottom: 5px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
}
#em-intro {
    font-size:x-large

}


.about-photo-text-container {
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "about-photo about-text"; 
   
}

#about-photo {
    grid-area: about-photo;
}

#about-text {
    grid-area: about-text;
}



/* Portfolio section */
/* Assigning name to each grid item */
#accessibility {
    grid-area: accessibility;
    
}

#landing-page {
    grid-area:landing-page;

    }

#zen-garden {
    grid-area:zen-garden ;

}
#dummy-1 {
    grid-area: dummy-1;
    
}

#dummy-2 {
    grid-area: dummy-2;
    
}

#dummy-3 {
    grid-area: dummy-3;
    
}

#dummy-4 {
    grid-area: dummy-4;
    
}
#dummy-5 {
    grid-area: dummy-5;
    
}
#dummy-6 {
    grid-area: dummy-6;
    
}
#dummy-7 {
    grid-area: dummy-7;
    
}

#dummy-8 {
    grid-area: dummy-8;
    
}

#dummy-9 {
    grid-area: dummy-9;
    
}

#dummy-10 {
    grid-area: dummy-10;
    
}


#folio-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "accessibility accessibility landing-page dummy-1"
    "accessibility accessibility zen-garden dummy-2"
    "dummy-3 dummy-4 dummy-5 dummy-6"
    "dummy-7 dummy-8 dummy-9 dummy-10 ";

    width: 90%;
    height:90%;
    margin:0 auto;
    gap: 5px;
    
}

.portfolio-grid-item h3 {
    position: relative;
    bottom:4px;
    
}

.portfolio-grid-item {
    padding: 10px;
    border:solid white;
}

main h2 {
    font-size: 36px;
    margin-bottom: 5px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    margin-top: 20px;
    
}
footer {
    background-color: #EBEBEB;
    color: black;
    padding:10px 0;
}

#contact-flex-container {
    display: flex;
    justify-content: space-evenly;
}

footer h2 {
    font-size: 36px;
    margin-bottom: 5px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info {
    font-size: 20px;
    text-align: left;
}

body footer #contact-flex-container ul li a {
    color:black;
    justify-content: flex-start;
}

/* Media queries */
@media only screen and (max-width:600px) {
    /* Headers */
    #social-link {
        display:none;
    }

    #my-name {
        justify-content: flex-start;
        font-size: medium;
        padding: 20px;
    }

    nav {
        position: relative;
        right:40px;
    }

    .secondary-header{
        height: 200px;
    }
/* About me section */
    #about {
        height:auto
    }

    .about-photo-text-container {
        display: block;

    }

    #about-photo img{
        margin:auto;
        height:80%;
        width: 80%;
        border: radius 50%;
    }
    
/* Portfolio section */
.portfolio-grid-item h3 {
    font-size: small;
}


/* Footer section */
#contact-flex-container{
    flex-direction: column-reverse;
}

#my-contact-info-and-link {
    margin-left:10px; 
}

#contact-form {
    margin-left:10px;
}

}
